body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.top {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.mid-top {
    display: flex;
}

.mid-bottom {
    background-color: #e5e7eb;
}

.top, .bottom, .info-head, .quote {
    color:  #1f2937;

}

.hero-main, .logo {
    color: #f9faf8;
}

ul {
    display: flex;
    color: white;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb
}
