body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0 100px;
}


.mid-top {
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
    
}

.information-head-container {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.sub-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 0;
    width: 100px;
}

.card {
    display: flex;
    flex: 0 1 0;
    height: 100px;
    width: 100px;
}

.card-text {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 18px;
}

.mid-bottom {
    background-color: #e5e7eb;
}

.mid-top, .mid-bottom {

}

.bottom {

}

.top, .bottom, .info-head, .quote {
    color:  #1f2937;

}

.hero-main, .logo {
    color: #f9faf8;
}

a, .hero-second{
    color: #e5e7eb;
    font-size: 18px;

}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
}

ul {
    display: flex;
    color: white;
    list-style-type: none;
}

a {
    text-decoration: none;
}


.image {
    display: flex;
    flex: 0;
    height: auto;
    width: 300px;
}

.image img {
    display: flex;
    height: auto;
    width: 300px;

}

 .card img {
    display: flex;
    height: auto;
    width: 100px;
}



